/* FONTS */
@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Bold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
	--spacing: 1rem;
	font-family: 'Geist', sans-serif;
    font-weight: 300;
	font-size: 125%;
    scroll-behavior: smooth;
    
    /* neutral base */
    --off-white: #FAFAFA; 
    --charcoal: #2d2d2d;
    --neutral-grey: #898989;

    /* main accent colors */
    --light-blue: #009FF0; 
    --rich-pink: #D8007B;
    --sun-yellow: #FFF100;
    
    /* additional color */
    --green: #18AD47; 
    --red: #FF0000;
    --orange: #FF8800;
}

/* WRAPPER TYPES */
body {
    font-size: 1.5rem; /* 24px */
    font-style: normal;
    font-weight: 300;
    line-height: 140%; 
    letter-spacing: -0.28px;
    color: var(--off-white);
}

article {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: column;
}

div.duo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* DONE */ div.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    inline-size: 70%;
}

/* DONE */
.hero span.h1 {
    display: block;
    mix-blend-mode: multiply;
}

.hero span.h1:nth-child(1),
.hero span.h1:nth-child(5),
.hero span.h1:nth-child(9) { color: var(--charcoal); }

.hero span.h1:nth-child(2),
.hero span.h1:nth-child(8) { color: var(--rich-pink); }

.hero span.h1:nth-child(3),
.hero span.h1:nth-child(6) { color: var(--sun-yellow); }

.hero span.h1:nth-child(4),
.hero span.h1:nth-child(7) { color: var(--light-blue); }

.citation {
    display: block;
}

.citation blockquote:not(:first-child) {
    margin-block-start: -18rem;
}

.citation blockquote.line-2:not(:first-child) {
    margin-block-start: -13.5rem;
}

.citation blockquote.line-3:not(:first-child) {
    margin-block-start: -22.7rem;
}

.citation blockquote.line-4:not(:first-child) {
    margin-block-start: -8.9rem;
}

.citation blockquote:nth-child(1),
.citation .line-2:nth-child(1)
.citation .line-3:nth-child(1) 
.citation .line-4:nth-child(1) { color: var(--light-blue); }

.citation blockquote:nth-child(2),
.citation .line-2:nth-child(2)
.citation .line-3:nth-child(2) 
.citation .line-4:nth-child(2) { color: var(--rich-pink); }

.citation blockquote:nth-child(3),
.citation .line-2:nth-child(3)
.citation .line-3:nth-child(3) 
.citation .line-4:nth-child(3) { color: var(--sun-yellow); }
/* DONE */

aside.vertical {
    text-align: right;
    font-weight: 400;
    color: var(--neutral-grey);
    text-transform: uppercase;
}

/* CONTENT TYPES */
/* DONE */ h1 {
    display: flex;
    flex-direction: column;
    gap: -4.75rem;
    font-weight: 700;
    font-size: 12.5rem;
    line-height: 32%;
    color: var(--charcoal);
    margin-block: 1.8rem;
}

h2 {
    text-align: right;
    font-weight: 400;
    color: var(--neutral-grey);
    text-transform: uppercase;
     /* same as aside */
}

/* DONE */ blockquote {
    font-weight: 700;
    font-size: 4.6rem;
    line-height: 100%;
    mix-blend-mode: multiply;
}

p {
    font-weight: 300;
    color: var(--charcoal);
}

span {
    color: var(--charcoal);
}

a:link {  
    color: var(--charcoal);
}

a:hover {
    color: var(--charcoal);
}


